.banner {
  position: absolute;
  height: 10vh;
  width: 100%;
  z-index: 1;
  display: flex;
}

.bloc-banner {
  height: 10vh;
  width: 100%;
  display: flex;
}

.banner-side{
  width: 25%;
  font-family: 'Khand', sans-serif;
  color: black;
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.banner-center{
  width: 50%;
}

.banner-link{
  text-decoration: none;
  /* color: black; */
  font-size: 1.5vw;
}
.banner-link{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.5vw;
}

.link-p{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.5vw;
}

.link-p:hover{
  color: rgb(0, 0, 0);
  font-size: 1.5vw;
  font-style: italic;
  font-weight: bold;
}


.custom-select{
  background-color: transparent;
  border: transparent;
  font-size: 1vw;
  width: 6.5vw;
}
